@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: 100vh;
}
.logo {
  text-shadow: 1px 1px 2px #41554f, 0 0 1em #41554f, 0 0 0.2em #41554f;
}

* {
  font-family: Verdana, Tahoma, Helvetica;
  font-size: 1vw;
}

.bg {
  background: url("images/bg.jpg");
  background-size: 50% 100%;
}

:hover.cate {
  box-shadow: 0 0.5vw 1vw 0 #a8a8a4, 0 0.525vw 2.5vw 0 #a8a8a4;
}
:hover.show {
  box-shadow: 0 0.125vw 0.25vw 0 #a8a8a4, 0 0.125vw 0.5vw 0 #a8a8a4;
}
